.Headline{
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;


    margin-bottom: 5em;
    text-align: left;

}

.Background{

    display: flex;
    align-items: center;
    justify-content: center;


    height:90vh;
    width: 150vh;
    border-radius: 20px;
    margin-top: 5vh;

    background-color: #E5E5E5;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}

.Container{

    height:50vh;
    width: 200vh;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


}


.Menu-box{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    margin-right: 3em;




    height:350px;
    width: 300px;
    border: 5px solid grey;
    border-radius: 20px;



    background-color: #E5E5E5;
}
.Button-one{


    
    top: 250px;
    height: 40px;
    width: 248px;
    left: 238px;
  
    border-radius: 25px;
    border-color:#F2F2F2 ;

    

    background-color: #F2F2F2;

}

.Button-two{

    top: 360px;
    height: 40px;
    width: 248px;
    left: 238px;


    border-radius: 25px;
    border-color: #F2F2F2;


    background-color: #F2F2F2;

}
.Button-three{

    top: 470px;
    height: 40px;
    width: 248px;
    left: 238px;

    border-radius: 25px;
    border-color: #F2F2F2;


    background-color: #F2F2F2;

}
