<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Damage Registration</title>
    <link rel="stylesheet" href="../static/Damage.css">
    <link th:href="@{Damage.css}" rel="stylesheet">


</head>
<body class="Body">


<div class="Background ">

    <div class="Container">
        <h1>registrer skade</h1>
        <div class="Menu-box">
            <form action="/RegistrerSkade" method="post">
        <input type="text" placeholder="carID" name="carID" required class="Button-carid">
        <input type="text" placeholder="car part" name="carPart" required class="Button-part">
        <input type="text" placeholder="car damage" name="carDamage" required class="Button-damage">
        <input type="text" placeholder="price" name="price" required class="Button-price">
                <button class="Button-done" type="submit"> done </button>
        </form>
    </div>

</div>


</body>
</body>
</html>