<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease Side</title>
    <link rel="stylesheet" href="../static/LeaseRegistration.css">
    <link th:href="@{LeaseRegistration.css}" rel="stylesheet">
</head>
<body>

<div class="Background" >

    <div class="Container">

        <h1>Lease registrering</h1>
        <div class="lease-box">
            <form action="/SletDamage" method="post">
                <input type="text" placeholder="DamageReportID" name="reportID" required class="lease-ID">
                </select>
                <input type="submit" placeholder="Submit" value="Submit" required class="submit-button" />
            </form>

    </div>


</div>

</body>
</html>