<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fejl Login</title>
    <link rel="stylesheet" href="../static/Menu.css">
    <link th:href="@{Menu.css}" rel="stylesheet">
</head>
<body class="Body">

<div class="Background ">

    <div class="Container">
        <div class="Menu-box">
            <p>Der skete en fejl, da du loggede ind</p>
            <a href="/Login">
                <button class="Button-one">Prøv igen</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>