<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/LeaseTable.css">
    <link th:href="@{/LeaseTable.css}" rel="stylesheet">

</head>
<body class="Body">

<div class="Background " >

 <div class="Table">
     <div >
         <h2 class="Headline"> Leasing Aftaler </h2>

     </div>
     <div class="Table-Scrollbar">

     <table class="Table-lease-Box">
<thead>
         <tr>
             <th>  LeaseID  </th>
             <th>   CarID   </th>
             <th>  ClientID </th>
             <th>  VIN </th>
             <th>  Price </th>

         </tr>


</thead>
         <tbody>
         <tr th:each="lease : ${leases}">
             <td th:text="${lease.leaseID}"></td>
             <td th:text="${lease.clientID}"></td>
             <td th:text="${lease.carID}"></td>
             <td th:text="${lease.VIN}"></td>
             <td th:text="${lease.price}"></td>
         </tr>

         </tbody>
     </table>
     </div>
 </div>
</div>
</body>
</html>