<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/LeaseTable.css">
    <link th:href="@{LeaseTaable.css}" rel="stylesheet">
</head>
<body class="Body">

<div class="Background " >

 <div class="Table">
     <div >
         <h2 class="Headline"> Leasing Aftaler </h2>

     </div>
     <div class="Table-Scrollbar">

     <table class="Table-lease-Box">

         <tr>
             <th>  LeaseID  </th>
             <th>   CarID   </th>
             <th>  ClientID </th>
             <th>  VIN </th>
             <th>  Price </th>
             <th>  Limited </th>
             <th>  Month Leased </th>
         </tr>

         <tr>
             <td> 2323232  </td>
             <td> 3433434  </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>

         <tr>
             <td>  2323232     </td>
             <td>   3433434    </td>
             <td>    56565656   </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
             <td> 56565656 </td>
         </tr>



     </table>
     </div>

 </div>


</div>

</body>
</html>