<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Login</title>
    <link rel="stylesheet" href="../static/LeaseRegistration.css.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{LeaseRegistration.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/LeaseRegistration.css">

</head>

<body class="body">
<nav class="navbar ">
    <div>
        <form action="/Back" method="post">
            <button type="submit" style="float: bottom" class="btn btn-outline-dark" >Back</button>
        </form></div></nav>

<!-- <div class="Menu-box">
    <form action="/Login" method="post">
        <input type="text" placeholder="navn" name="navn" required class="input-felt" >
        <input type="text" placeholder="password" name="password" required class="input-felt2">
    <button class="submit-button" type="submit"> Done </button>
    </form>
</div> -->

<div class="Form my-4 mx-5" style="width: 100%; margin: auto">
    <div class="container">

        <div class="row no-gutters">

            <!--
            <div class ="col-lg-5">
                 <img th:src=@{assets/symbol-logo.png} src="assets/symbol-logo.png alt="symbol">
            </div> -->

            <!-- taget fra yt video https://www.youtube.com/watch?v=Bwk-Q_Ua-jM -->

            <div class="col-lg-3">
                <!-- <img src="https://www.colorcombos.com/images/colors/F2F2F2.png" class="img-fluid" alt="..."> -->
            </div>

            <form class="col-lg-7 px-5 pt-5" action="/CreateLease" method="post">
                <h1 class="font-weight-bold py-3">Bilabonnement</h1>
                <h4>Registration of lease contract</h4>

                <div class="form-row">
                    <div class="col-lg-12">
                        <input type="number" placeholder="Client ID" name="clientID" class="form-control my-3 p-4">
                    </div>
                </div>

                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="number" placeholder="Car ID" name="carID" class="form-control my-3 p-4">
                        </div>
                    </div>

                <div class="form-row">
                    <div class="col-lg-12">
                        <input type="number" placeholder="Price" name="price" class="form-control my-3 p-4">
                    </div>
                </div>

                <!--
                <div class="form-row">
                    <div class="col-lg-12">
                        <input type="text" placeholder="Type of lease: 1 - unlimited, 0 - limited" name="lease type"
                               class="form-control my-3 p-4">
                    </div>
                </div>
-->
                <div class="col-lg-6">
                    <a href="/CreateLease">
                        <button type="submit" class="btn1 mt-3 mb-5"> Done </button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>


</div>


</form>
</div>

<!--
<div class="Background" >

    <div class="Container">

        <form action="/Tilbage" method="post">
            <button>go back</button>
        </form>


        <h1>Lease registrering</h1>
        <div class="lease-box">
            <form action="/RegistrerLease" method="post">
                <label for="LeaseID">LeaseID</label>
                <input type="text" inputmode="numeric" maxlength="5" id="LeaseID" name="Lease ID" required class="lease-ID">
                <label for="ClientID">ClientID</label>
                <input type="text" inputmode="numeric" maxlength="5" id="ClientID" name="Client ID" required class="Client-ID">
                <label for="CarID">Car ID</label>
                <input type="text" inputmode="numeric" maxlength="5" id="CarID" name="Car ID" required class="Car-ID">
                <label for="VIN">VIN</label>
                <input type="text" maxlength="17" id="VIN" name="VIN" required class="VIN">
                <label for="price">Price</label>
                <input type="number" id="price" name="Price" required class="Price">
                <label for="drop">Type of lease</label>
                <select name="type of lease" id="drop" placeholder="type of lease" size="1" required class="drop-down">
                    <option value="limited">limited</option>
                    <option value="unlimited">unlimited</option>
                </select>
                <input type="submit" placeholder="Submit" value="Submit" required class="submit-button" />


            </form>

    </div>


</div>
    -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>


</body>
</html>