<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Side</title>
    <link rel="stylesheet" href="../static/Menu.css">
    <link th:href="@{Menu.css}" rel="stylesheet">
</head>
<body class="Body">


<div class="Background ">

    <div class="Container">
        <table>
            <tbody>
            <tr>
                <h1 class="Headline"> Velkommen
                    <td class="" th:text="${fullName}"></td>
                </h1>

            </tr>
            </tbody>
        </table>


        <div class="Menu-box">

            <a href="/RegistrerLease">
                <button class="Button-one"> Registrer ny lease</button>
            </a>
            <a href="/SletLease">
                <button class="Button-two"> Slet gammel lease</button>
            </a>
            <a href="/viewAllLeaseRegistration">

                <button class="Button-three"> Oversigt over lease aftaler</button>
            </a>
            <a href="/viewAllLeasedCar">
                <button class="Button-four"> Oversigt over biler</button>
            </a>

        </div>

    </div>

</div>


</body>
</html>