<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Side</title>
    <link rel="stylesheet" href="../static/Menu.css">
    <link th:href="@{Menu.css}" rel="stylesheet">
</head>
<body class="Body">


<div class="Background ">

    <div class="Container">
        <h1 class="Headline">Velkommen *username*</h1>

        <div class="Menu-box">

            <a href="/RegistrerSkade">

                <button class="Button-one"> Registrer ny skade</button>
            </a>

            <a href="/allDamageReports">
            <button class="Button-two"> Oversigt over skader </button>
            </a>


            <a href="/viewAllLeaseRegistration">

                <button class="Button-three"> Oversigt over lease aftaler</button>
            </a>
            <a href="/viewAllLeasedCar">
                <button class="Button-four"> Oversigt over biler</button>
            </a>
        </div>

    </div>

</div>


</body>
</html>