<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Side</title>
    <link rel="stylesheet" href="../static/Menu.css">
    <link th:href="@{Menu.css}" rel="stylesheet">
</head>
<body class="Body">


<div class="Background " >

    <div class="Container">
        <h1 class="Headline">Velkommen *username*</h1>

        <div class="Menu-box">

            <button class="Button-one"> <p> * TEKST * </p> </button>

            <button class="Button-two"> <p> * TEKST * </p> </button>

            <button class="Button-three"> <p> * TEKST * </p> </button>

        </div>

    </div>

</div>


</body>
</html>