<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="../static/Opret.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{Opret.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/Opret.css">



</head>

<body class="body">

<div class="Form my-4 mx-5" style="width: 100%; margin: auto">
    <form class="container">
        <div class="row no-gutters">

            <!--
            <div class ="col-lg-5">
                 <img th:src=@{assets/symbol-logo.png} src="assets/symbol-logo.png alt="symbol">
            </div> -->

            <!-- taget fra yt video https://www.youtube.com/watch?v=Bwk-Q_Ua-jM -->

            <div class ="col-lg-5">
                <img src="https://images.unsplash.com/photo-1611448746128-7c39e03b71e4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRyaXZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500" class="img-fluid" alt="...">
            </div>

            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Bilabonnement</h1>
                <h4>Employee Registration</h4>
                <form>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="text" placeholder="Employee full name" id="fullname" class="form-control my-3 p-4">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="password" placeholder="Password" id="password" class="form-control my-3 p-4">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="text" placeholder="Employee Type (data,damage,business)" id="typeemployee" class="form-control my-3 p-4">
                        </div>
                    </div>

                    <div class="form-row">
                        <button type="button" class="btn1 mt-3 mb-5"> Done </button>
                    </div>

                </form>
            </div>


        </div>


    </form>
</div>

<!--
<div class="Menu-box">
    <form action="/OpretMedarbejder" method="post">
    <input type="text" placeholder="fulde navn" name="fullname" required class="input-felt">
    <input type="text" placeholder="password" name="password" required class="input-felt">
    <input type="text" placeholder="type af medarbejder" name="type" required class="input-felt" >
    <button class="submit-button" type="submit"> Done </button>
    </form>
</div>
-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>